/* *{
    outline: 1px solid red ;
} */

img {
    width: 300px;
  }

  h2 {
    font-size: 45px;
  }
  h1, h2 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
    margin: 0;
  }


  .content-wrap-1{ 
    width: 800px; 
    margin: 0 auto; 
    padding: 50px 10px 0; }

    .project-item {
        overflow: hidden;
        border-bottom: 1px dashed orange;
        padding: 25px 0;
      }
      .project-item img {
        float: left;
        margin-right: 20px;
      }
      .project-item h3 {
        margin-top: 0;
      }

.custom-primary-color {
  color: #E48B1C;
}

.team-card {
  background: rgba( 255, 255, 255, 0.4 );
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.team-card:hover {
  background: rgba(44, 42, 85, 0.902);
  color: white;
  transition: 0.5s ease;
}

.team-card-link a {
  color: #e48b1c;
} 

.team-card-link a:hover {
  color: #b96601;
  transition: 0.5s ease;
} 

.team-card-img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

body::before {
  background-image: url(../img/bg2.png);
  color: #E48B1C;
  z-index: -1;
  background-size: 60vmax;
}

@media screen and (max-width: 992px) {
  body::before {
    opacity: 0.4;
    background-size: 50vmax;
  }

  .custom-nav #navbarNav .navbar-nav .nav-item .nav-link {
    color:  #494949;
    font-weight: 500;
    text-transform: capitalize;
    margin-left: 3em;
  }

  .custom-nav #navbarNav .navbar-nav .nav-item .sign-up-button {
      background-color: #FFFFFF;
      border: 1px solid rgba(44, 42, 85, 0.404);
  }
}